<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Detalle de ayuda</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    </head>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/gasolineras/">Gasofa</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item ">
                <a class="nav-link" href="/gasolineras/precios_gasolineras">Precios de Gasolineras</a>
            </li>
            <li class="nav-item ">
            <a class="nav-link" href="/gasolineras/gasolinera">Gasolineras</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Gestion precios
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="nav-link" href="/gasolineras/precios">Precios de Referencia</a>
                    <div class="dropdown-divider"></div>
                    <a class="nav-link" href="/gasolineras/preciosG">Precios de gasolineras</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/gasolineras/usuarios">Usuarios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/gasolineras/logout">Log out</a>
            </li>
        </ul>
        </div>
    </nav>
</html>